Question 1:Load the Titanic dataset using Pandas and convert the following numeric columns into a
NumPy array:
o age, fare, and survived.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'C:\Users\SREE CHARITHA\Documents\Downloads\Titanic-Dataset.csv')

# Select the required columns and convert to NumPy array

In [3]:
titanic_arr=df[['Age', 'Fare', 'Survived']].to_numpy()
print(titanic_arr.shape)
print(titanic_arr[:5, :])

(891, 3)
[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 [35.     53.1     1.    ]
 [35.      8.05    0.    ]]

Removing Rows with Missing Values

In [4]:
titanic_arr =titanic_arr[~np.isnan(titanic_arr).any(axis=1)]
print(titanic_arr.shape)
print(titanic_arr[:5, :])

(714, 3)
[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 [35.     53.1     1.    ]
 [35.      8.05    0.    ]]

Normalizing Age and Fare Columns using Z-Score Normalization

In [5]:
age_mean, age_std=np.mean(titanic_arr[:, 0]), np.std(titanic_arr[:, 0])
fare_mean, fare_std=np.mean(titanic_arr[:, 1]), np.std(titanic_arr[:, 1])
# Normalize age and fare columns
titanic_arr[:, 0] = (titanic_arr[:, 0] - age_mean) / age_std
titanic_arr[:, 1] = (titanic_arr[:, 1] - fare_mean) / fare_std
print(titanic_arr[:5, :])

[[-0.53037664 -0.51897787  0.        ]
 [ 0.57183099  0.69189675  1.        ]
 [-0.25482473 -0.50621356  1.        ]
 [ 0.36516706  0.34804915  1.        ]
 [ 0.36516706 -0.5038498   0.        ]]

Computing Mean Age and Mean Fare for Survived and Not Survived Passengers

In [6]:
# Separate survived and not survived passengers
survived = titanic_arr[titanic_arr[:, 2] == 1]
not_survived = titanic_arr[titanic_arr[:, 2] == 0]

# Calculate mean age and fare for survived and not survived passengers

In [ ]:
mean_age_survived=np.mean(survived[:, 0])
mean_fare_survived=np.mean(survived[:, 1])
mean_age_not_survived=np.mean(not_survived[:, 0])
mean_fare_not_survived=np.mean(not_survived[:, 1])
print("Mean Age Survived:", mean_age_survived)
print("Mean Fare Survived:", mean_fare_survived)
print("Mean Age Not Survived:", mean_age_not_survived)
print("Mean Fare Not Survived:", mean_fare_not_survived)

Mean Age Survived: -0.09337269255785864
Mean Fare Survived: 0.3242830655233994
Mean Age Not Survived: 0.06386339821174336
Mean Fare Not Survived: -0.22179737972119304

Classifying Fare as "Low" or "High" using np.where()

In [8]:
mean_fare = np.mean(titanic_arr[:, 1])
# Classify fare as "Low" or "High"
fare_class = np.where(titanic_arr[:, 1] < mean_fare, "Low", "High")
print(fare_class[:5])

['Low' 'High' 'Low' 'High' 'Low']

Question 2 (Pandas) – Iris Dataset Summary Report
1. Load the Iris dataset using Pandas.
2. Create a new column called petal_ratio = petal_length / petal_width.
3. Answer the following:
o a) What is the average petal_ratio per species?
o b) Which species has the highest standard deviation in sepal_length?
o c) Filter the dataset to only include rows where sepal_width is above the overall
mean.
o d) Split the DataFrame into two subsets:
▪ One with petal_ratio < 2
▪ One with petal_ratio ≥ 2
▪ Then stack them vertically using pd.concat.

In [9]:
#reading the csv file
df1=pd.read_csv(r'E:\iris_doop.csv')
print(df1.columns)# prints all columns from a dataset
df1['petal_ratio'] = df1['petal.length'] / df1['petal.width']

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

Average Petal Ratio per Species

In [10]:
print(df1['petal_ratio'].mean())#prints mean of this column

4.310499757025204

Filtering Dataset: Sepal Width Above Mean

In [11]:
print(df1[df1['sepal.width'] > df1['sepal.width'].mean()])
#Splitting Petal Ratio < 2 and ≥ 2
subset1 = df1[df1['petal_ratio'] < 2]
subset2 = df1[df1['petal_ratio'] >= 2]
print(pd.concat([subset1, subset2]))

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
148           6.2          3.4           5.4          2.3  Virginica

     petal_ratio
0       7.000000
2       6.500000
3       7.500000
4       7.000000
5       4.250000
..           ...
140     2.333333
141     2.217391
143     2.565217
144     2.280000
148     2.347826

[67 rows x 6 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     petal_ratio
0       7.000000
1       7.000000
2       6.500000
3       7.500000
4       7.000000
..           ...
145     2.260870
146     2.631579
147     2.600000
148     2.347826
149     2.833333

[150 rows x 6 columns]